<style>
    html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 50vw;
        height: auto;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
      }
</style>

<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
    {{#each photos}}    
        <div class="swiper-slide">
            <img src="{{ imageURL }}" class="swiper-slide" alt="">
        </div>
    {{/each}}
    </div>
    <div class="swiper-pagination"></div>
</div>


